* {
  box-sizing: content-box;
  padding: 0px;
  margin: 0px;
}
html {
  font-size: 62.5%;
  background: #eeeeee;
  height: 100%;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}
header {
  position: -webkit-sticky;
  position: sticky;
  padding: 0 0;
  top: 0;
  z-index: 1;
  background-color: #041c32;
  margin: auto;
}
.title-name {
  display: flex;
  justify-content: center;
  margin: auto;
}

.container {
  padding-bottom: 10px;
}
h4 {
  font-size: 2.4rem !important;
  font-weight: bold !important;
}

.fondo {
  background-color: #322f3d !important;
  color: #ededed;
}

.body-color {
  background-color: #dae1e7 !important ;
}

.rowed {
  text-align: center;
  padding: 20px;
}

#product-name {
  font-size: 3.5rem;
  font-weight: bold;
}
.container-box {
  display: flex;
  flex-wrap: wrap;
  padding: 1px;
  justify-content: center;
}
.img-box {
  padding: 15px;
}

.imagen-position {
  width: 250px;
  height: 290px;
  object-fit: cover;
  padding: 5px;
  border-radius: 10px;
}

.box-card {
  text-decoration: none;
}

.imagen-title,
.name-text {
  text-align: center;
  color: black;
  font-size: 22px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
.imagen-title,
.sp-sw {
  color: purple;
}

.cost {
  font-style: unset;
  font-weight: bold;
}
